    body{
        margin: 0;
        font-family: 'Titillium Web', sans-serif ;
    }
    .container{
        background-color: $grey;
        margin: 0 auto;
    }
    .clearfix::after{
        display: block;
        content: "";
        clear: both;
    }
    .menue{
        display: none;
    }
    .logomenue{
        float: right;
        max-width: 4%;
        background-color: black;
        padding: 15px;
    }
    .text{
        padding-top: 12px;
        p{
            margin: 0;
            color: white;
            margin-left: -13px;
        }
    }
    .container2{
        background: linear-gradient(to bottom right, $turquesa, $tur);
        width: 90%;
        padding: 64px 5%;
    }
    .wrapper h1{
        margin: 0;
        font-size: 1.5rem;
        color: white;
        margin-bottom: 13px;
    }
    .wrapper a{
        text-decoration: none;
        color: white;
        
    }
    
    .wrapper3{
        background-color: $black;
        padding: 35px;
    }
    .texto{
        margin: 0;
        color: $purpleletter;
        font-size: 13px;
    }
    .flecha{
        background-color: blueviolet;
        padding: 35px;
        width: 20px;
        float:right;
    }
    .icono{
        background-color: $pink;
        max-width: 3%;
        float: right;
        margin-top: -141px;
        padding: 40.5px 9%;
    }
    .negro{
        background-color: $black;
        padding-bottom: 64px ;
        padding-top: 64px ;
        p{
            color: $purpleletter;
            font-size: 11px;
            margin: 0;
            width: 90%;
            padding: 0px 5%;
        }
    }
    
    #galeria1{
        @include image ($sizeW);
    }
    #galeria2{
        @include image ($sizeB);
    }
    #iconito{
        max-width: 5%;
        padding-top: 118px;
        padding-bottom: 125px;
    }
    #cuadroMorado{
        background-color: $purple;
        margin-top: -12px;
        text-align: center;
    }
    #link{
        padding-top: 20px;
    }
    .container4{
        background-color: $footergrey;
    }
    .text{
        @include text ($tittleblue);
    }
    .textfooter{
        @include text ($greyletter);
    }
    .textfooterT{
        display: none;
    }
    .footertext{
        margin-bottom: 0px;
        padding-bottom: 80px;
        margin-top: 35px;
    }
